@import "./../../styles/vars.scss";

.sidebar {
    position: fixed;
    top: 0; left: 0;
    z-index: 1200;
    height: 100vh;
    width: 30rem;
    background-color: var(--white);
    border-right: var(--border);
    transition: 0.3s;

    .close-sidebar {
        padding: 2rem;
        padding-bottom: 0;
        display: none;

        & i {
            width: 4.5rem;
            height: 4.5rem;
            font-size: 2.5rem;
            line-height: 4.4rem;
            background-color: var(--red);
            color: var(--white);
            cursor: pointer;
            text-align: center;
            border-radius: .5rem;

            &:hover {
                background-color: var(--black);
            }
        }

        @include mediaSize1200px {
            display: block;
        }
    }
    
    .sidebar__logo {
        padding: 3rem 2rem;
        text-align: center;

        .logo {
            margin-bottom: .5rem;
            font-size: 12rem;
            color: var(--main-color);
            text-shadow: 0 0 5px #2253a0, 0 0 5px #2253a0, 0 0 15px #ccc, 0 0 10px #ccc;
            color: #2253a0;
        }

        & p {
            color: var(--black);
            font-size: 1.6rem;
        }
    }

    .navbar {
        & a {
            position: relative;
            display: block;
            padding: 2rem;
            margin: .5rem 0;
            // margin-left: .4rem;
            font-size: 1.8rem;
            

            & i {
                color: var(--main-color);
                margin-right: 1rem;
                transition: .2s linear;
            }

            & span {
                color: var(--light-color);
                color: var(--black);
            }

            &:hover {
                background-color: var(--light-bg);

                & i {
                    margin-right: 2.5rem;
                    // color: white;
                }

                // & span {
                //     color: white;
                // }
            }
        }
        
        .active {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            background-color: var(--main-color);
            box-shadow: 0px 0px 5px 1px var(--main-color);

            .sidebar {
                border: 0;
            }

            & i, & span {
                color: white;
            }

            &:hover {
                background-color: var(--main-color);
            }
            
            // &::before {
            //     content: "";
            //     position: absolute;
            //     top: -20px;
            //     right: 0px;
            //     width: 20px;
            //     height: 20px;
            //     border-bottom-right-radius: 20px;
            //     border-top-right-radius: 1px;
            //     box-shadow: 5px 5px 0 5px var(--light-bg);
            //     background-color: transparent;
            // }
            // &::after {
            //     content: "";
            //     position: absolute;
            //     bottom: -20px;
            //     right: 0px;
            //     width: 20px;
            //     height: 20px;
            //     border-top-right-radius: 20px;
            //     box-shadow: 5px -5px 0 5px var(--light-bg);
            //     background-color: transparent;
            // }
        }
    }

    @include mediaSize1200px {
        transition: .2s linear;
        left: -30rem;
    }
}



.sidebar.active {
    left: -25rem;   

    & a {
        text-align: right;
        margin: 0;
        
        & i {
            margin-right: 0rem;

            &:hover {
                margin-right: 0 !important;
            }
        }

        & span {
            display: none;
        }
    }

    .navbar a {
        &:hover {
            margin-right: 0 !important;

            & i {
                margin-right: 0 !important;
            }
            
            @include mediaSize1200px {
                margin-right: 1rem !important;
            }
        }
    }

    @include mediaSize1200px {
        .navbar a {
            &:hover {
                margin-right: 0 !important;
    
                & i {
                    margin-right: 2.5rem !important;
                }
                
                @include mediaSize1200px {
                    margin-right: 0rem !important;
                }
            }
        }
    }
}

@include mediaSize1200px {
    .sidebar.active {
        left: 0rem;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .7);
    }
    
    .sidebar.active {
        & a {
            text-align: left;

            & i {
                margin-right: 1rem !important;
            }
    
            & span {
                display: inline-block;
            }
            &:hover i {
                margin-right: 2.5rem !important;
            }
        }
    }

}
